*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(---background-body);
}

:root{
    ---azul_escuro:#3E3C4C;
    ---azul_bebe:#9BF2FE;
    ---background-body:#E0E0E0;
    ---font-principal: "Assistant", sans-serif; 
}




.cabecalho{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: var(---azul_escuro);
    padding: 0 88px;
    height: 60px;
    width: 100%;
}

.cabecalho .btn-menu-mobile{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    outline: none;
    left: 4%;
    cursor: pointer;
    border: none;
    height: 35px;
    width: 35px;
    padding: 15px;
    border-radius: 50%;
    background-color: #a1a1a213;
    transition: .2s all;
}

.cabecalho .btn-menu-mobile span{
    color: var(---azul_bebe);
    pointer-events: none;
}

#content{
    display: flex;
    position: relative;
    gap: 55px;
    width: 100%;
    
}

/* Sidebar */

#content .sidebar{
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: column;
    width: 60px;
    max-width: 250px;
    transition: width .4s ease;
    background-color: var(---azul_escuro);
    height:calc(100vh - 60px);
    padding: 50px 0 0px;
    overflow: hidden;
    left: 0;
    top: 0;
}

.sidebar .btn-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    outline: none;
    top: 0px;
    left: 20%;
    cursor: pointer;
    border: none;
    height: 35px;
    width: 35px;
    padding: 15px;
    border-radius: 50%;
    background-color: #a1a1a213;
    transition: .2s all;
}

#content .sidebar .btn-menu span{
    color: var(---azul_bebe);
    pointer-events: none;
}

.sidebar .close-btn{
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: none;
    height: 35px;
    width: 35px;
    padding: 15px;
    border-radius: 50%;
    background-color: #a1a1a213;
    transition: .2s all;
}
.sidebar .close-btn span{
    color: var(---azul_bebe);
    pointer-events: none;
}

.sidebar .profile{
    display: flex;
    align-items: center;
    row-gap: 10px;
    width: 100%;
    flex-direction: column;
    border-top: 2px solid var(---background-body);
    border-bottom: 2px solid var(---background-body);
    padding: 10px;
}

.sidebar .profile .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 60%;
    object-fit: cover;
    border: 2px solid var(---background-body);
}
.sidebar .profile .circle img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(---background-body);

}

.sidebar .profile .name-email{
    display: none;
    text-align: center;
    flex-direction: column;
    row-gap: 5px;
    font-family: var(---font-principal);
    color: var(---background-body);
    font-weight: 600;

}


.sidebar .nav-menu{
    height:calc(100vh - 400px);
}

.sidebar .button-container{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding: 20px 0;
    border-bottom: 2px solid var(---background-body);
}
.sidebar .button-container .tab-btn, .btn-logout{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    padding: 0 5px;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.sidebar .button-container .tab-btn span, .btn-logout span{
    font-size: 28px;
    margin-right: 10px;
    margin-left: 10px;
    color: var(---azul_bebe);
}
.sidebar .button-container .tab-btn .icon-title, .btn-logout .icon-title{
    font-family: var(---font-principal);
    font-size: 16px;
    color: var(---background-body);
    font-weight: 600;
    text-transform: uppercase;
}



/* Hover, Focus, active */
.sidebar .button-container .tab-btn:hover, .btn-logout:hover{
    background-color: #ffffff37;
}
#content .sidebar .btn-menu:active{
    background-color: #e0e0e060;
}
.cabecalho .btn-menu-mobile:active{
    background-color: #e0e0e060;
}
.sidebar .close-btn:active{
    background-color: #e0e0e060;
}
/* Fim Hover, Focus, active */




/* Interatividade menu */
#content .sidebar.expanded{
    width: 20%;
    min-width: 62px;
    max-width: 300px;
}

.sidebar .btn-menu.hide{
display: none;
}


.sidebar .close-btn.show, .sidebar .profile .name-email.show{
    display: flex;
}


.tab-contents.margExpanded{
    margin-left: 20%;
}



/* Fim Interatividade menu */

/* Fim Sidebar */

.tab-contents{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    transition: .3s ease;
}

.tab-contents .content{
    display: none;
}

.tab-contents .content .titulo{
    font-family: var(---font-principal);
    color: var(---azul_escuro);
    margin: 30px 0 30px;
}

.tab-contents .content .box-content{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}


.tab-contents .content .box-content .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 283px;
    row-gap: 10px;
    background-color: #fff;
}

.tab-contents .content .box-content .box .circle{
    padding: 20px;
    border-radius: 50%;
    border: 3px solid var(---azul_escuro);
    margin-bottom: 20px;
    background-color: var(---azul_escuro);
}
.tab-contents .content .box-content .box .circle span{
    font-size: 30px;
    color: var(---background-body);
}


.tab-contents .content .box-content .box .step{
    font-family: var(---font-principal);
    text-transform: uppercase;
    text-align: center;
    color: var(---azul_escuro);
}
.tab-contents .content .box-content .box .strong{
    font-family: var(---font-principal);
    font-weight: bold;
    color: var(---azul_escuro);
}

/* perfil */
.tab-contents #Perfil .boxings{
    flex-direction: column;
}
/* Fim perfil */


/* oportunidades */
.tab-contents  #oportunidades{
    flex-direction: column;
    width: 100%;
}
.tab-contents #oportunidades .box{
    display: flex;
    flex-direction: column;
    width: 350px;
    row-gap: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.tab-contents #oportunidades .box  .img-logo-empresa{
    display: flex;
    justify-content: center;
    padding: 30px 10px;
    border-bottom: 3px solid var(---background-body);
}
.tab-contents #oportunidades .box  .img-logo-empresa .circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(---azul_bebe);
}
.tab-contents #oportunidades .box .detalhes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    row-gap: 10px;
}
.tab-contents #oportunidades .box .detalhes .titulo-vaga{
    font-family: var(---font-principal);
    color: var(---azul_escuro);
    font-weight: 600;
}
.tab-contents #oportunidades .box .detalhes .detalhes-empresa{
    display: flex;
    gap: 10px;
}
.tab-contents #oportunidades .box .detalhes .detalhes-empresa p{
    display: flex;
    color: var(---azul_escuro);
    font-family: var(---font-principal);
}

/* Fim oportunidades */

/* Baixar Curriculo */
.tab-contents #baixar-curriculo{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tab-contents #baixar-curriculo .titulo{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

#baixar-curriculo .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #fff;
    height: 20vh;
    border-radius: 10px;
}
#baixar-curriculo .box .button-baixar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 8vh;
    font-weight: bold;
    background-color: var(---azul_escuro);
    color: var(---background-body);
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: var(---font-principal);
    transition: all .2s;
}
#baixar-curriculo .box .button-baixar:hover{
    background-color: #3e3c4cb3;
}

/* Fim Baixar Curriculo */


/*  */









/* Interatividade */

.tab-contents .content.show{
    display: flex;
}

.active{
    background-color: #e0e0e05d;
}

#oportunidades .box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 18px;
    /* gap: 10px; */
}



#oportunidades .box-container .box-vagas{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    background-color: #fff;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #41414121;
}

#oportunidades .box-container .box-vagas .titulo-vagas{
    font-family: var(---font-principal);
    color: #3e3c4c8a;
    font-size: 16px;
    margin-bottom: 5px;
}
#oportunidades .box-container .box-vagas .descricao-vaga{
    font-family: var(---font-principal);
    font-weight: bold;
    color: var(---azul_escuro);
    width: 100%;
    margin-bottom: 5px;
    }
    #oportunidades .box-container .box-vagas .descricao-vaga p{
    font-size: 18px;
    white-space: wrap;
    text-overflow: ellipsis;
}
#oportunidades .box-container .box-vagas .localizacao-estado{
    display: flex;
    align-items: center;
    color: var(---azul_escuro);
    gap: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    }
#oportunidades .box-container .box-vagas .localizacao-estado p{
    font-family: var(---font-principal);
}
#oportunidades .box-container .box-vagas .data{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #3E3C4C;
    font-weight: 500;
    font-family: var(---font-principal);
}






/* Responsividade */

/* 320px a 414px */

@media only screen and (max-width:884px) and (min-width: 320px) {
    body{
        margin-top: 50px;
    }
    .cabecalho{
        top: 0;
        position: fixed;    
        z-index: 1;
    }
    .cabecalho .btn-menu-mobile{
      display: flex;  
    }
    #content .sidebar{
       position: fixed;
       z-index: 2;
       width: 0;
       justify-content: space-between;
       height: 100vh;
       overflow: auto;
    }
    
    .sidebar .btn-menu{
        display: none;
    }

    .sidebar .close-btn{
        display: flex;

    }

    .tab-contents .content .box-content{
        padding: 0;
        justify-content: center;
        z-index: -1;
    }

    .tab-contents{
        margin: 2%;
        
    }

    .tab-contents .content .box-content .box{
        display: flex;
        justify-content: start;
        gap: 20px;
        white-space: nowrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        box-shadow: 0 0px 1px 1px #cccccc;
    }
    
    .sidebar .nav-menu{
        height: calc(100vh - 250px);
    }

    #baixar-curriculo .box{
        width: 100%;
    }

    #baixar-curriculo .box .button-baixar{
        white-space: nowrap;
        padding: 20px;
        width: 80%;
    }


    #content .modal-sidebar{
        display: none;
        position: fixed;
        background-color: #00000038;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
    }



    #oportunidades .box-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 12px;
        grid-row-gap: 18px;
    }


    
    
    
    
    /* Interatividade menu */
#content .modal-sidebar.open{
    display: flex;
}
    
#content .sidebar.expanded{
        width: 250px;
        min-width: 0;
        max-width: 100%;
        transition: width .3s ease;
    }

    .cabecalho .logo.hide{
        display: none;
    }
    
.sidebar .btn-menu.hide{
        display: none;
    }
    
body.active{
        overflow: hidden;
}
    
.sidebar .close-btn.show, .sidebar .profile .name-email.show{
        display: flex;
    }
    
    
    .tab-contents.margExpanded{
        margin-left: 0%;
    }
    




    /* Fim Interatividade */
}






/* Fim Responsividade */