*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    position: relative;
    background-color: var(---background-body);
    display: flex;
    justify-content: center;
}

:root{
    ---azul_escuro:#3E3C4C;
    ---azul_bebe:#9BF2FE;
    ---background-body:#E0E0E0;
    ---font-principal: "Assistant", sans-serif; 
}

.content{
    padding: 0 80px;
}


.container{
    display: flex;
    flex-direction: column;
    width: 420px;
    justify-content: center;
    margin-top: 40px;
}
.container .text-img{
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(---azul_escuro);
    padding: 20px 0;
    margin-bottom: 20px;
}


.container .text-img .text{
    display: flex;
    align-items: center;
    position: absolute;
    width: 230px;
    right: 0;
}

.container .text p{
    white-space: wrap;
    text-align: end;
    color: #000;
    font-family: var(---font-principal);
    font-size: 15px;
}

.container img{
    width: 200px;
}

.container .info {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0 10px 60px;
}

.container .info .circle{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(---azul_escuro);
    height: 50px;
    color: var(---background-body);
    width: 50px;
    background-color: var(---azul_escuro);
}
.container .info p{
    font-family: var(---font-principal);
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

.container .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    row-gap: 10px;
}
.container .links .btnAvancar{
    width: 100%;
    height: 40px;
    background-color: var(---azul_escuro);
    color: var(---background-body);
    font-family: var(---font-principal);
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #ccc;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}
.container .links .btnAvancar:hover{
    box-shadow: 0 0 3px 0 #000;
}
.container .links .linkVoltar{
    font-family: var(---font-principal);
    font-size: 14px;
    text-transform: lowercase;
    color: var(---azul_escuro);
}

/*  */
.tooltip{
    position: fixed;
    left: -400px;
    bottom: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(---azul_bebe);
    padding: 10px 8px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #818181;
    transition: left .5s ease-in-out;
}

.tooltip span{
    color: var(---azul_escuro);
    font-weight: 560;
}
.tooltip p{
    font-family: var(---font-principal);
    font-size: 13px;
    font-weight:bold;
}
.tooltip.show{
    left: 20px;
}